
.add-button{
	float: right;
}

.course{
	border: 2px solid brown;
}

.course-categories{
	flex: 5;
}

.course-credits{
	flex: 1;
}

.course-delete-button{
	flex: 1;
}

.course-number{
	flex: 1;
	text-align: center;
}

.course-title{
	flex: 6;
}

.courses{
	text-align: center;
}

.delete-button{
	text-align:center;
	padding:0px;
	width:22px;
	font-weight:bold;
	float: left;
}

.dialog textarea{
	width: 85%;
	height: 85%;
}

.flex-row{
	margin: 5px;
	border: 1px solid brown;
	display: flex;
	justify-content: space-between;
	text-align:center;
}

.header-row{
	text-align:center;
}

.header-row strong{
	flex: 1;
}

.semester{
	border: 2px solid black;
	margin: 5px;
	flex: 1;
	padding-top: 0px;
	text-align: center;
}

.year{
	border: 1px solid blue;
	margin: 5px;
	text-align:center;
}
	
#courses{
	border: 1px solid green;
	margin: 5px;
	flex: 1;
}

#requirements{
	border: 1px solid purple;
	margin: 5px;
	flex:1
}

#wrap{
	border: 1px solid red;
	height: 100%;
	width: 100%;
	/*display:flex;
	justify-content: space-between;*/
}


